image: Visual Studio 2019


install:
  - choco install gitversion.portable -pre -y

before_build:
  - nuget restore
  - ps: gitversion /l console /output buildserver
  - ps: build\UpdateVersion.ps1

after_build:
  # Create NuGet packages
  - cmd: dotnet pack -p:IncludeSymbols=true -p:SymbolPackageFormat=snupkg -p:PublishRepositoryUrl=true -p:EmbedUntrackedSources=true --output output Tapeti.DataAnnotations.Extensions\Tapeti.DataAnnotations.Extensions.csproj /p:Configuration=Release /p:Version=%GitVersion_NuGetVersion%
  # Push artifacts
  - ps: Get-ChildItem output\*.nupkg | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }
  - ps: Get-ChildItem output\*.snupkg | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }

build:
  project: Tapeti.DataAnnotations.Extensions.sln

platform:
  - Any CPU

configuration:
  - Release

deploy:
  - provider: NuGet
    api_key:
      secure: DWFz7brxvCOtPLGJWxMojaVzIJimMGd7BPdlW75MjbhHJuoHwG1kPxZHVdjN4tPe

    skip_symbols: false
    artifact: /.*(\.|\.s)nupkg/